{% extends 'base.html.twig' %}

{% block title %}Catalogage{% endblock %}

{% block body %}
    <h1>Catalogage</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ catalogage.id }}</td>
            </tr>
            <tr>
                <th>Number</th>
                <td>{{ catalogage.number }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('catalogage_index') }}">back to list</a>

    <a href="{{ path('catalogage_edit', {'id': catalogage.id}) }}">edit</a>

    {{ include('catalogage/_delete_form.html.twig') }}
{% endblock %}
