{% extends 'base.html.twig' %}

{% block title %}Catalogue index{% endblock %}

{% block body %}
    <h1>Catalogue index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Curator</th>
                <th>OrganizationMethod</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for catalogue in catalogues %}
            <tr>
                <td>{{ catalogue.id }}</td>
                <td>{{ catalogue.name }}</td>
                <td>{{ catalogue.curator }}</td>
                <td>{{ catalogue.organizationMethod }}</td>
                <td>
                    <a href="{{ path('catalogue_show', {'id': catalogue.id}) }}">show</a>
                    <a href="{{ path('composer_edit', {'id': catalogue.composer.id }) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <p>To add a new catalogue, edit or create a <a href="/composer">composer</a>.
{% endblock %}
