{% extends 'base.html.twig' %}

{% block title %}Catalogue{% endblock %}

{% block body %}
    <h1>Catalogue</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ catalogue.id }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ catalogue.name }}</td>
            </tr>
            <tr>
                <th>Curator</th>
                <td>{{ catalogue.curator }}</td>
            </tr>
            <tr>
                <th>Organization Method</th>
                <td>{{ catalogue.organizationMethod }}</td>
            </tr>
            <tr>
                <th>Composer</th>
                <td>{{ catalogue.composer }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('catalogue_index') }}">back to list</a>

    <a href="{{ path('catalogue_edit', {'id': catalogue.id}) }}">edit</a>

    {{ include('catalogue/_delete_form.html.twig') }}
{% endblock %}
