{% extends 'base.html.twig' %}

{% block title %}Piece{% endblock %}

{% block body %}
    <h1>Piece</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ piece.id }}</td>
            </tr>
            <tr>
                <th>Title</th>
                <td>{{ piece.title }}</td>
            </tr>
            <tr>
                <th>Number</th>
                <td>{{ piece.number }}</td>
            </tr>
            <tr>
                <th>Tonality</th>
                <td>{{ piece.tonality }}</td>
            </tr>
            <tr>
                <th>Oeuvre</th>
                <td>{{ piece.oeuvre }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('piece_index') }}">back to list</a>

    <a href="{{ path('piece_edit', {'id': piece.id}) }}">edit</a>

    {{ include('piece/_delete_form.html.twig') }}
{% endblock %}
