{% extends 'base.html.twig' %}

{% block title %}Composer index{% endblock %}

{% block body %}
    <h1>Composer index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Nationality</th>
                <th>BirthDate</th>
                <th>DeathDate</th>
                <th>MainStyle</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for composer in composers %}
            <tr>
                <td>{{ composer.id }}</td>
                <td>{{ composer.name }}</td>
                <td>{{ composer.nationality }}</td>
                <td>{{ composer.birthDate ? composer.birthDate|date('Y-m-d') : '' }}</td>
                <td>{{ composer.deathDate ? composer.deathDate|date('Y-m-d') : '' }}</td>
                <td>{{ composer.mainStyle }}</td>
                <td>
                    <a href="{{ path('composer_show', {'id': composer.id}) }}">show</a>
                    <a href="{{ path('composer_edit', {'id': composer.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('composer_new') }}">Create new</a>
{% endblock %}
