{% extends 'base.html.twig' %}

{% block title %}Composer{% endblock %}

{% block body %}
    <h1>Composer</h1>

    <table class="table show">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ composer.id }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ composer.name }}</td>
            </tr>
            <tr>
                <th>Nationality</th>
                <td>{{ composer.nationality }}</td>
            </tr>
            <tr>
                <th>Birth</th>
                <td>{{ composer.birthDate ? composer.birthDate|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>Death</th>
                <td>{{ composer.deathDate ? composer.deathDate|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>Main style</th>
                <td>{{ composer.mainStyle }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('composer_index') }}">back to list</a>

    <a href="{{ path('composer_edit', {'id': composer.id}) }}">edit</a>

    {{ include('composer/_delete_form.html.twig') }}
{% endblock %}
